{- with site.gitalk -}
{- if .enable -}

<div id="gitalk-container"></div>

<div 
data-client-id="{: .client_id :}"
data-client-secret="{: .client_secret :}"
data-repo="{: .repo :}"
data-owner="{: .owner :}"
data-admin="{: .admin :}" 
{- with .title -} data-title="{: this :}" {- end -} 
{- with .language -} data-language="{: this :}" {- end -}  
id="gitalk-data">
</div>

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<script>
    // mapping page path to the standard
    var gitalkData = document.getElementById('gitalk-data');
    var path = location.pathname;
    if (path.endsWith('.html')) {
        path = path.slice(0, -5);
    } 
    if (path.endsWith('index')) {
        path = path.slice(0, -5);
    }
    console.log("Page path for Gitalk ID:", path);

    // generate MD5 hash of the path (< 50 characters)
    var md5_id = CryptoJS.MD5(path).toString();

    var gitalk = new Gitalk({
        clientID: gitalkData.getAttribute('data-client-id').trim(),
        clientSecret: gitalkData.getAttribute('data-client-secret').trim(),
        repo: gitalkData.getAttribute('data-repo').trim(),
        owner: gitalkData.getAttribute('data-owner').trim(),
        admin: [gitalkData.getAttribute('data-admin').trim()],
        id: md5_id,
        distractionFreeMode: false,  // Facebook-like distraction
        title: gitalkData.getAttribute('data-title') ? gitalkData.getAttribute('data-title').trim() : undefined,
        language: gitalkData.getAttribute('data-language') ? gitalkData.getAttribute('data-language').trim() : undefined,
    });

    console.log("Gitalk initialized:", gitalk);

    gitalk.render('gitalk-container')
</script>

{- end -}
{- end -}